option_settings:
 aws:elasticbeanstalk:container:python:
  WSGIPath: api.wsgi:application
container_commands:
 01_migrate:
  command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
  leader_only: true
 02_createsu:
  command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
  leader_only: true